.ratings {
    grid-area: ratings;
    width: 100%;



    &__conteiner {
        display: flex;
        gap: rem(16);
        flex-direction: column;
        width: 100%;
        max-width: 100%;

        align-items: center;

        @media (min-width: $decktopWidth) {
            max-width: 540px;
        }

    }

    @media (min-width: $decktopWidth) {
        display: grid;
        justify-items: end;
        align-items: center
    }
}

.rating {
    max-width: rem(445);
    width: 100%;
    max-height: rem(78);
    padding: flex(16, 20) 0;
    border-radius: 8px;
    background: $c__prim;
    display: flex;
    flex-basis: rem(445);

    gap: rem(16) rem(32);
    align-items: center;
    flex-direction: column;

    @media (min-width: $decktopWidth) {

        max-height: rem(56);

        flex-direction: row;
        padding-left: rem(32);
    }

    &__star {
        max-width: rem(116.55);
        height: rem(15.77);

        object-fit: cover;
        object-position: left;

        @media (min-width: $decktopWidth) {
            animation: star 1.5s;
        }
    }

    @keyframes star {
        0% {
            width: 0;
        }

        100% {
            width: rem(116.55);
        }
    }

    &__paragraph {
        font-size: rem(13);
        font-weight: 700;
        color: $c__finn;

    }


    &:nth-child(1) {
        align-self: flex-start
    }

    &:nth-child(3) {
        align-self: flex-end
    }
}